*{
    @import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@600&family=Rubik&display=swap');
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

nav a:hover,
nav a.active{
    color: #0ef;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f242d;
    color: white;
    font-weight: 700;
}

section:nth-child(odd){
    background-color: #323946;
}

.projectGallery{
    text-align: center;
    width: 30%;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 1px white;
    border-radius: 10px;
    height: 500px;
    font-size: 36px;
    margin: 20px;
    transition: 0.3s;
}
.projectGallery>p{
    margin: 10px;
}
.projectGallery>img{
    width: 200px;
    margin-top: 10px;
}
.projectGallery:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
#home>p{
    font-size: 46px;
    float: left;
    margin-top: 10%;
    transition: 0.3s;
}
#home>p:hover{
    text-shadow: white 1px 0 10px;
    transition: 0.3s;
}
#home>p:nth-child(1){
    margin-bottom: -20px;
    font-size: 26px;
    position: absolute;
    transform: translate(-105%, -200%);
}
#introduction>p{
    text-align: center;
    font-size: 46px;
    float: left;
    margin: 20%;
    transition: 0.3s;
}
#introduction>p:hover{
    text-shadow: white 1px 0 10px;
    transition: 0.3s;
}
#experience>p{
    text-align: center;
    font-size: 46px;
    float: left;
    margin: 20%;
    transition: 0.3s;
}
#experience>p:hover{
    text-shadow: white 1px 0 10px;
    transition: 0.3s;
}
#contact>p{
    text-align: center;
    font-size: 30px;
    transition: 0.3s;
    width: 34%;
}
#contact>p:hover{
    text-shadow: white 1px 0 10px;
    transition: 0.3s;
}