body{
    @import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@600&family=Rubik&display=swap');
    background-color: #1d2b3a;
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15px;
}
.menu{
    width: 100%;
    height: 100px;
    text-align: center;
}
.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.leftMenu{
    float: left;
    width: 50%;
    transition: 0.5s;
}
.leftMenu:hover{
    text-shadow: white 1px 0 10px;
    transition: 0.5s;
}
.rightMenu{
    float: left;
    width: 50%;
}
.menuItem{
    float: left;
    margin: 2%;
    margin-top: 6%;
    transition: 0.5;
}
.menuItem:hover{
    text-shadow: white 1px 0 10px;
    transition: 0.5s;
}
.introduction{
    float: left;
    margin-top: 10%;
    transition: 0.5s;
}
.introduction:hover{
    text-shadow: white 1px 0 10px;
    transition: 0.5s;
}
.introduction>:nth-child(1){
    font-family: 'Rubik2', sans-serif;
    margin-bottom: -20px;
    font-size: 16px;
    position: relative;
}
.experience{
    clear: both;
    margin-bottom: 40px;
}
.experience>p:hover{
    text-shadow: white 1px 0 10px;
    transition: 0.5s;
}
.experience>h4{
    margin-bottom: 0;
}
.experience>p{
    font-size: 20px;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    transition: 0.5s;
}
.introduction>p{
    font-size: 26px;
    font-family: 'Rubik', sans-serif;
}
.projects{
    float: left;
    margin-bottom: 20px;
}
.projectGallery{
    text-align: center;
    width: 25%;
    margin: 14.5px;
    height: 300px;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 5px white;
    border-radius: 20px;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    transition: 0.5s;
}
.projectGallery:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.projectGallery>p{
    margin-left: 5px; margin-right: 5px;
}
.contact{
    margin-bottom: 10%;
}